<script>
	loadCSS("/webjars/datatables/css/dataTables.bootstrap4.min.css");
	loadCSS("https://cdn.datatables.net/select/1.2.1/css/select.bootstrap4.min.css");  

	var requireJS = [
			"/webjars/datatables/js/jquery.dataTables.min.js",
			"/webjars/datatables/js/dataTables.bootstrap4.min.js",			
			"/webjars/chartjs/Chart.min.js",
			"/webjars/sockjs-client/sockjs.min.js",
			"/webjars/stomp-websocket/stomp.min.js",
			"/webjars/handlebars/handlebars.min.js",
			"/js/jquery.spring-friendly.min.js",
			"https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js" ];

	loadJS(requireJS, "/js/views/content.js");
</script>
<div id="card-block-rows" class="animated fadeIn">
</div>