<script>
	loadCSS("/webjars/datatables/css/dataTables.bootstrap4.min.css");
	loadCSS("https://cdn.datatables.net/select/1.2.1/css/select.bootstrap4.min.css");  

	var requireJS = [
			"/webjars/datatables/js/jquery.dataTables.min.js",
			"/webjars/datatables/js/dataTables.bootstrap4.min.js",			
			"/webjars/chartjs/Chart.min.js",
			"/webjars/sockjs-client/sockjs.min.js",
			"/webjars/stomp-websocket/stomp.min.js",
			"/webjars/handlebars/handlebars.min.js",
			"/js/jquery.spring-friendly.min.js",
			"https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js" ];

	loadJS(requireJS, "/js/views/dashboard.js");
</script>
<div id="card-block-rows" class="animated fadeIn">
</div>
<script id="card-block-row" type="text/x-handlebars-template">
    <div class="row">
	{{#each .}}
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-header">{{title}}</div>
                <div class="card-block"><img src="/img/{{division.id}}/{{marker.code}}.png" width="500"></img></div>
            </div>
        </div>
	{{/each}}
    </div>
</script>