<script>
	loadCSS("/webjars/datatables/css/dataTables.bootstrap4.min.css");
	loadCSS("https://cdn.datatables.net/select/1.2.1/css/select.bootstrap4.min.css");  

	var requireJS = [
			"/webjars/datatables/js/jquery.dataTables.min.js",
			"/webjars/datatables/js/dataTables.bootstrap4.min.js",			
			"/webjars/chartjs/Chart.min.js",
			"/webjars/sockjs-client/sockjs.min.js",
			"/webjars/stomp-websocket/stomp.min.js",
			"/webjars/handlebars/handlebars.min.js",
			"/js/jquery.spring-friendly.min.js",
			"https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js" ];

	loadJS(requireJS, "/js/views/division.js");
</script>
<div id="card-block-rows" class="animated fadeIn">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="card">
                <div class="card-header">
                	컨텐츠 구독자
                </div>
                <div class="card-block">
                 		<table id="datatable" class="table" width="100%" cellspacing="0">		
					        <thead>
					            <tr>
					                <th>순번</th>
					                <th>이름</th>
					            </tr>
					        </thead>
				        </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                </div>
            </div>
        </div>        
    </div>
</div>