<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>증강현실 DID</title>
      <script th:src="@{/js/aframe.min.js}"></script>
      <script th:src="@{/js/aframe-ar.min.js}"></script>
   </head>
   <body style='margin : 0px; overflow: hidden;'>
      <a-scene embedded vr-mode-ui='enabled: false'
         arjs='trackingMethod: best; sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 3x3_PARITY65; debugUIEnabled: false; maxDetectionRate: 30; canvasWidth: 240; canvasHeight: 180'>     
		<a-marker type='barcode' value='10'>
			<a-image th:src="@{/img/contents/html/andon-demo2.gif}" rotation='270 0 0' scale="5 5 0"></a-image>
		</a-marker>
		<a-marker type='barcode' value='11'>
			<a-image th:src="@{/img/demo4.png}" rotation='270 0 0' scale="5 5 0"></a-image> 
		</a-marker>		
		<a-marker type='barcode' value='12'> 
			<a-text value="제25호 태풍 콩레이 북상으로 물류창고 내 시설물 안전점검 요망" font="/fonts/NanumGothic-msdf.json" rotation='270 0 0' color="#FF0000" negate="false">
	</a-text>
		</a-marker>		
		<a-marker type='barcode' value='13'>
			<a-image th:src="@{/img/demo1.png}" rotation='270 0 0' scale="5 5 0"></a-image>  
		</a-marker>		
		
		<a-entity camera></a-entity>
      </a-scene>   
   <!--  
      <a-scene embedded vr-mode-ui='enabled: false'
         arjs='sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 3x3_PARITY65; debugUIEnabled: false'>     
		<a-marker type='barcode' th:value='__${content.marker.code}__' th:each='content : ${contents}'>
			<a-image th:src="@{/img/__${division}__/__${content.marker.code}__.png}" rotation='270 0 0' scale="5 5 0">></a-image>  
		</a-marker>
		<a-entity camera></a-entity>
      </a-scene>
   -->   
   </body>
</html>