<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>증강현실 DID</title>
    <link rel="shortcut icon" th:href="@{img/favicon.png}">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/simple-line-icons.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">&#9776;</button>
        <a class="navbar-brand" href="#"></a><span style="font-size: 18px; font-weight: bold;">증강현실 디지털 정보 디스플레이</span>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
            </li>
        </ul>
    </header>
    
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html"><i class="icon-speedometer"></i> 대시보드</a>
                    </li>
		            <li class="nav-title">
		                기본 정보
		            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="division.html"><i class="fa fa-users"></i> 구독자 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="content.html"><i class="fa fa-archive"></i> 컨텐츠 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="marker.html"><i class="fa fa-qrcode"></i> 마커 출력</a>
                    </li>                    
                </ul>
            </nav>
        </div>
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">&nbsp;</li>
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;설정</a>
                    </div>
                </li>
            </ol>
			<div class="container-fluid">
				<div id="ui-view"></div>
			</div>
        </main>            
    </div>
    
    <footer class="app-footer">
        <a href="#">증강현실 디지털 정보 디스플레이</a> &copy; 2018 GS ITM.
        <span class="float-right">Powered by <a href="http://www.gsitm.com/">GS ITM</a>
        </span>
    </footer>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/tether/js/tether.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/pace/pace.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>    
</body>

</html>